.card {
    width: 90%;
    height: 323px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    margin: 60px auto;
    background-color: #fff;
    font-size: 16px;
    top:50px;
    cursor: url('../../../assets/images/Cursor/Vector(3).png'), auto;
    z-index: 1;
}

.image-container {
    width: 30%;
    height: 150px;
    position: relative;
    top: -20px;
}

.image {
    width: 90%;
    height: 103%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 14px;
    position: relative;
    bottom: 21px;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: center;
    position: relative;
    top: -20px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detailItem {
    display: flex;
    align-items: center;
}

.iconContainer {
    display: flex; 
    justify-content: space-between; 
    margin: 3px 0; 
}

.leftIcon,
.rightIcon {
    display: flex; 
    align-items: center; 
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 104, 101, 1);

}
.leftIcon {
    display: flex; 
    align-items: center;
}

.icon {
    width: 17px;
    height: 18px;
    margin-right: 5px;
}
