.title-section {
    padding: 20px;
    text-align: right;
    margin: 180px auto;
    background-image: url('../../../assets/images/Background/Rectangle 48.png');
    background-size: 100%;
    background-position: 50% 105%;
    background-repeat: no-repeat;
    height: 271px;
    width: 1124px;
    position: relative;
    right: 17%;
}

.circle {
    position: absolute;
    top: 42px;
    right: 60px;
    width: 12px;
    height: 12px;
    background-color: #10c6c6;
    border-radius: 50%;
    z-index: 0;
}

.title {
    position: relative;
    z-index: 1; 
    font-size: 35px;
    margin: 0;
    margin-right: 60px;
    color: rgb(0, 0, 0);
}

.subtitle {
    font-size: 20px;
    color: gray;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: auto;
    text-align: right;
    max-width: 445px;
    width: 104%;
}
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-top: 50px;
}

.icon {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    position: relative;
    right: 530px;
    top: 16px;
}

.searchInput {
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 25px; 
    flex: 1; 
    max-width: 550px; 
    text-align: right;
    margin-right: -20px;
}
.img{
    position: absolute;
    bottom: -170px;
}
.schoolImage{
    position: absolute;
    bottom: -162px;
    left: 96px;

}