.container {
  display: flex;
  padding: 20px;
}

.leftPanel {
  flex: 1; 
  padding: 20px;
  position: relative;
}

.rightPanel {
  flex: 3; 
  padding: 20px;
  background-image: url('../../../assets/images/Background/backgroundFilter.png');
   background-repeat: repeat-y;
   background-position: 27% 22px;
   background-size: 35%;
}

.box {
  background-color: #ffffff; 
  border: 1px solid #ccc;
  color: rgb(0, 0, 0); 
  margin: 10px; 
  padding: 20px; 
  text-align: center; 
  border-radius: 5px; 
  width: 298px; 
  height: 406px; 
}
.box1{
  margin: 10px;
  padding: 20px;
  width: 298px;
  height: 627px;
}
.heading {
  font-size: 24px;
  margin-bottom: 10px; 
  color: rgba(0, 83, 81, 1);

}

.paragraph {
  font-size: 14px; 
  margin-bottom: 20px; 
  color: rgba(170, 170, 170, 1);
  font-size: 15px;

}

.circleContainer {
  display: flex; 
  flex-direction: column; 
  gap: 30px; 
}

.circle {
  display: flex; 
  justify-content: center; 
  width: 211px;
  height: 70px;
  background: rgba(249, 249, 249, 1);
  flex-direction: column; 
  border-radius: 10px;
  margin-left: 50px;
}


.circleImage {
  position: relative;
  right: 49px;
  height: 80px;
  top: 68px;
  width: 80px;
}

.circleTitle {
  font-size: 10px;
  text-align: right;
  margin-bottom: 100px;
  margin-right: 20px;
  color: rgba(0, 104, 101, 1);

}

.circleButton {
  display: flex; 
  align-items: center; 
  color: rgba(1, 180, 175, 1);

  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 11px;
  position: relative;
  left: 110px;
  bottom: 90px;
}

.circleButtonIcon {
  width: 10px;
  height: 10px;
  position: relative;
  right: 3px;
  bottom: -2px;
}
.iconContainer {
  display: flex; 
  justify-content: center; 
  margin-top: 10px; 
  position: relative;
  bottom: 87px;
  left: 16px;
  position: relative;
  font-size: 11px;
  color: #ccc;
}

.icon {
  margin: 0 5px; 

}

.iconImage {
  width: 12px;
  height: 10px;
 
}

.row {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.cardContainer {
  flex: 0 0 calc(33.33% - 20px); 
  box-sizing: border-box; 
}

.sectionTitle {
  margin: 20px 84px; 
  font-size: 24px; 
  color: rgba(0, 83, 81, 1);
  text-align: right; 
}
