.container {
   
    padding: 80px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    background-color: #fff;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 16px;
  }
  
  .table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0px 15px; 
  }
  
  .table td,
  .table th {
    border: none;
    background: rgba(51, 245, 238, 0.26);
    transition: background-color 0.3s ease;
    padding: 0 16px; 
    
  }

  .table th {
    background-color: transparent;
    color: inherit;
    border: none;
    
  }
  
  .inputGroup {
    position: relative;
   
  }
  
  .inputGroup .form-control {
  
    border-radius: 25px;
  }
  
  .searchIcon {
    position: absolute;
    left: 9px;
    top: 49%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  .filterButton{
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(1, 206, 201, 1);
    border: 1px solid rgba(1, 206, 201, 1);
    border-radius: 50%;
    left: 79px;
    top: 16px;
  }